@charset "UTF-8";
/* CSS Document */


.first-letter {
  font-size: 108px; 
    float: left;
    line-height: ;
    font-weight: bold;
    margin-right: -6px;
	margin-left: 20px;
	margin-bottom: -15px;
	margin-top: -55px;
	
}



img {  

align-content: center;
	
padding: 30px;}

.location {
	text-align: center;
	padding-left: -1px;
	font-size: 12px;
	color:darkred;
}
.box {
 float:right;
	align-content: center;
    width: 500px;
    margin-left: 60px;
	margin-right: 90px;
    margin-top: 70px;
    padding: 40px;
	padding-top: 80px;
    border: 1px solid black;
	background: rgba(255,255,255, 0.80);

}

.about  {
pointer-events: none;
 display:inline;
color:antiquewhite;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: 15px; 
  line-height: 1px;
  border-radius: 2px;
	background-color: rgba(149,0,2,0.6);
	background-opacity: 10%;}


.clickables {
align-items: center;
	padding-bottom: 100px;
	

  
	
	
	
}
.box2 {
 float:left;
	align-content: center;
    width: 300px;
    margin-left: 100px;
	margin right: 20px;
    margin-top: 70px;
    padding: 1px;
	padding-top: -10px;
	padding-bottom: -90px;
	 border: 1px solid black;
    background: rgba(255,255,255, 0.60) ;

	align-content: center;
}



   
}
.link1{ 
	font size: 10em;
	color: #0CA30D;
	
}
	
	