@charset "UTF-8";
/* CSS Document */


#gallery img { padding:5px;}


#gallery1 { 
	width:490px; 
	
padding:5px;
	float: center;
	margin: 0 auto;
	padding:5px;
	margin: 0 auto;
}

.clickables {
align-content: center;
	padding-bottom: 100px;
	margin-left: 1000px;
	margin-right: 100px;

 }

#gallery2 { 
	width:490px; 
	
padding:5px;
	float: center;
	margin: 0 auto;
	padding:5px;
	margin: 0 auto;
}

#gallery3 { 
	width:490px; 
 
padding:5px;
	float: center;
	margin: 0 auto;
	padding:5px;
	margin: 0 auto;
}

#gallery4 { 
	width:490px; 

padding:5px;
	float: center;
	margin: 0 auto;
	padding:5px;
	margin: 0 auto;
	
}

#gallery5 { 
	
	width:590px; 
	text-align:justify;
	margin-right: 200px;
	margin-left: -50px;

	

	padding-bottom: 70px;}





